.about {
  margin-top: 100px;
  margin-bottom: 300px;

  p {
    padding-left: 25px;
    padding-right: 25px;
  }

  .big-btn {
    margin-top: 75px;
  }

  .eye {
    width: 5%;
    text-align: center;
  }

  .eye-text {
    display: inline-flex;
    max-width: 70%;
    padding-left: 10px;
  }
}
