.about {
  margin-top: 50px;
  margin-bottom: 300px;
  // padding-top: 50px;


  p {
    padding-left: 25px;
    padding-right: 25px;
  }

  .big-btn {
    margin-top: 75px;
  }
}

.about-headline-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

  .eye {
    // width: 5%;
    // text-align: center;
  }

  .eye-text {
    padding-left: 7px;
    padding-right: 7px;
  }
