.current-book {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
  background: $gray;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.50);
}

.book-details {
  padding: 50px;
  @media screen and (max-width: 485px) {
    padding: 50px 20px;
  }
}

.title {
  font-size: 2.25em;
}

.author {
  font-family: $headlineFont;
  font-size: 1.5em;
}

.book-link {
  margin-top: 27px;
  font-family: $headlineFont;
  a {
    font-weight: 400;
  }
}

.archive-link {
  margin-top: 75px;
  font-style: italic;
}
