h1.masthead {
    font-family: $headlineFont;
    font-size: 4em;
    display: inline-block;
    background: $black;
    color: white;
    padding: 5px 10px;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .logo-wrapper {
    order: 2;
  }
  .denver {
    order: 1;
    margin-bottom: 60px;
  }
  .illiterati {
    order: 3;
    margin-bottom: 60px;
  }
}

@media all and (max-width: 600px) {
  .header-container {
    flex-wrap: wrap;

    .logo-wrapper {
      order: 1;
      width: 100%;
    }
    .denver {
      font-size: 3em;
      order: 2;
      margin: 0;
    }

    .illiterati {
      font-size: 3em;
      order: 3;
      margin: 0;
    }
  }
  p.slogan {
    font-size: 1.25em;
  }
}

img.logo {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  font-family: $headlineFont;
  padding: 5px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  display: block;
  margin-top: 15px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.50);
}
