<div class="about container">

  <h2 class="text-center">
    <div class="about-headline-container">
      <span class="glyphicon glyphicon-eye-open eye" aria-hidden="true"></span>
      <span class="eye-text">Who Are These People?</span>
      <span class="glyphicon glyphicon-eye-open eye" aria-hidden="true"></span>
    </div>
  </h2>
  <div class="row">
  <p><strong>Denver Illiterati</strong> is a social book club based in (you guessed it) Denver, Colorado. We usually meet the first Monday of the month to discuss our current book, reveal our next book selection, and generally hang out and be awesome. Meetings typically take place in-or-around Denver's Highlands neighborhood, either at comfy businesses or at our members' homes.</p>
  <p>We rotate which member picks the next book, and have read across many genres of fiction and non-fiction.</p>
  <p><strong>Joining is easy. Just show up. That's it.</strong> If you've read <em>the</em> book, or read <em>a</em> book, even better!</p>
  <p>To stay informed as to what we are reading, and when and where our meetings are, subscribe to our newsletter!</p>

  <button class="center-block btn signup-btn big-btn" data-toggle="modal" data-target="#signUp">Let Us Into Your Heart. I mean, Inbox.</button>
  </div>
</div>
