<div class="current-book">
  <h2 class="text-center">
    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Currently Reading<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
  </h2>
  <div class="container">


  <div class="row">

    <div class="col-md-4">
      <img class="img-responsive center-block" ng-src="{{book.imgUrl}}" alt="{{book.title}}">
      <p class="book-link text-center"><a ng-href="{{book.amzUrl}}" target="_blank">Buy From Amazon</a></p>
      <p class="book-link text-center"><a ng-href="{{book.dplUrl}}" target="_blank">Search Public Library</a></p>
    </div>

    <div class="col-md-8 book-details">
      <h3 class="title">{{book.title}}</h3>
      <h4 class="author">by {{book.author}}</h4>
      <p>{{book.synopsis}}</p>
      <p class="archive-link text-right"><a href="https://docs.google.com/spreadsheets/d/1fxplLU4S0OPo4e3-eFCl7QVHS_CeOAGRuBH2AaHTVbU/edit" target="_blank">View Book Selection History...</a></p>
    </div>

  </div>

  </div>
</div>
