<div class="next-meeting text-center container">
  <h2>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{vm.meeting.type}} Meeting <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </h2>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3 class="next-meeting-date">{{meeting.date | amCalendar:referenceTime:formats}}</h3>

      <p class="meeting-info" ng-repeat="paragraph in meeting.message" >{{paragraph | removeHTMLTags}}</p>

      <p class="meeting-info">To learn the locations of our meetings, <a href="https://tinyletter.com/denverilliterati" target="_blank">sign up for our newsletter</a>!</p>

      <button type="button" name="button" id="sign-up" data-toggle="modal" data-target="#signUp" class="btn signup-btn">Won't You Join Us?</button>
    </div>
  </div>
</div>
