<div class="modal fade" tabindex="-1" id="signUp"role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center">Not A Cult. Honest.</h3>
      </div>
      <div class="modal-body">
        <p>The only thing you have to do to be a part of our book club is show up! You don't even have to read the book!</p>

        <p>Heck, you don't even have to show up, come to think of it. Just <em>believe</em> you are a member, and you are.</p>

        <p>But if you <em>are</em> interested in actually reading books and attending our monthly meetings, the best way to stay of abreast of all our goings-on is to subscribe to our weekly(ish) newsletter.</p>

        <a class="btn signup-btn btn-block text-center" href="https://tinyletter.com/denverilliterati" role="button">Sign Up!</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
